::ng-deep.mat-checkbox-inner-container {
  width: 26px !important;
  height: 26px !important;
}
.main {
  display: grid;
  margin: 0 auto;
  padding: 0 48px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  @media screen and(max-width: 350px) {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 0 8px;
  }
  &__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  &__container {
    display: flex;
    transition: all 0.2s;
    margin: 1px 0px 0px 0px;
  }
  &__container:hover {
    transition: all 0.2s;
    background-color: rgb(151, 241, 139);
    display: flex;
  }
  &__container:hover .main__button {
    transition: opacity 0.1s;
    opacity: 100;
    cursor: pointer;
    position: relative;
    width: 26px;
    height: 26px;
    background: transparent;
    border: none;
  }
  &__button-container:hover .main__button {
    transition: opacity 0.1s;
    opacity: 100;
    cursor: pointer;
    position: relative;
    width: 26px;
    height: 26px;
    background: transparent;
    border: none;
  }

  gap: 12px;
  justify-content: center;

  &__card {
    min-height: 50px;
    border: 1px solid gray;
    margin-top: 12px;
    padding: 16px;
  }
  &__text {
    margin: 0px 0px 0px 10px;
    line-height: 2;
    width: 100%;
  }
}
p {
  font-weight: 700;
}
::ng-deep.mat-checkbox .mat-checkbox-frame {
  border-color: green;
}
.text {
  &-crossed {
    font-style: italic;
    text-decoration: line-through;
  }
  &-normal {
    font-style: normal;
  }
}

.main__button {
  transition: opacity 0.1s;
  opacity: 0;
  cursor: pointer;
  position: relative;
  width: 26px;
  height: 26px;
  background: transparent;
  border: none;
}

.main__button:after {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  background: rgb(39, 125, 151);
  left: 11px;
}
.main__button:before {
  content: "";
  position: absolute;
  width: 26px;
  height: 3px;
  background: rgb(39, 125, 151);
}
.main__button:before {
  transform: rotate(45deg) translate(-11px, 8px);
}
.main__button:after {
  transform: rotate(-45deg) translate(-7px, -10px);
}
